@media (max-width: 768px){
    /* MOUNTAINE */
    .container{
        max-width: 720px;
    }
    .header{
        padding: 0 50px;
    }
    .mountain{
        padding: 0 70px;
    }
    .grid__card{
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }
    .mountain__img{
        width: 100%;
    }
    .left__title{
        font-size: 23px;
        line-height: 37px;
        margin: 14px 0 20px;
    }
    .left__desc{
        font-size: 15px;
    }
    /* MOUNTAINE */
    /* LOCATION */
    .location{
        padding-top: 60px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 15px;
        row-gap: 20px;
    }
    .card__title{
        font-size: 17px;
        line-height: 20px;
    }
    /* LOCATION */
    /*  PLACE*/
    .grid__col-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .lines{
        margin: 50px 0;
    }
    .click{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /*  PLACE*/
    /* footer */
    .footer__end{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer__email{
        margin-bottom: 35px;
    }
    /* footer */
}
@media (max-width: 390px){

}